.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 378px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 358px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  margin: 43px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 28px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 9px 0 0;
}

.u-section-1 .u-text-4 {
  z-index: 99999;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 331px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 352px;
  height: 264px;
  margin: 0 -16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 436px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 273px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: 253px;
    height: 183px;
    margin-top: 55px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-1 .u-image-1 {
    width: 180px;
    height: 130px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 470px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 296px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 781px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 20px 0 0 49px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0 60px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 0 0 60px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 0 0 60px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: 20px 0 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    width: 803px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}