.u-section-1 {
  background-image: linear-gradient(#292e33, #4c7397);
}

.u-section-1 .u-sheet-1 {
  min-height: 813px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 95px auto 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 345px;
  background-image: url("images/IMG_0800.JPG");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-1 .u-image-2 {
  width: 495px;
  height: 255px;
  margin-top: 60px;
  margin-left: 0;
  margin-right: auto;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 343px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  width: 495px;
  height: 253px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-4 {
  min-height: 343px;
  background-image: url("images/quartet.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px;
}

.u-section-1 .u-group-1 {
  min-height: 311px;
  width: 342px;
  box-shadow: 0 0 30px 0 rgba(128,128,128,0.4);
  margin: -484px auto 60px;
}

.u-section-1 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-1 .u-text-1 {
  margin: 106px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 284px;
  }

  .u-section-1 .u-image-2 {
    width: 455px;
    height: 234px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 283px;
  }

  .u-section-1 .u-image-3 {
    width: 455px;
    height: 233px;
  }

  .u-section-1 .u-image-4 {
    min-height: 283px;
  }

  .u-section-1 .u-group-1 {
    min-height: 267px;
    margin-top: -410px;
    margin-bottom: 203px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1 .u-image-1 {
    min-height: 218px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 345px;
    height: 178px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    width: 345px;
    height: 176px;
  }

  .u-section-1 .u-image-4 {
    min-height: 217px;
  }

  .u-section-1 .u-group-1 {
    min-height: 264px;
    margin-top: -330px;
    margin-bottom: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1431px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 327px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-1 .u-image-4 {
    min-height: 326px;
    order: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 259px;
    margin-top: -649px;
    margin-bottom: 450px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    min-height: 206px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 175px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 174px;
  }

  .u-section-1 .u-image-4 {
    min-height: 205px;
  }

  .u-section-1 .u-group-1 {
    min-height: 248px;
    width: 291px;
    margin-top: -520px;
    margin-bottom: 332px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 115px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  height: 3px;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-weight: 900;
  margin: 45px 20px 15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-line-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 560px;
}

.u-section-3 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 38px -11px 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 205px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-video-1 {
  height: 159px;
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 205px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 10px 60px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  margin: 2px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 205px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-video-2 {
  height: 159px;
  margin: 0 60px 0 auto;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 205px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 10px 60px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  margin: 2px 0 0;
}

.u-section-3 .u-layout-cell-5 {
  background-image: none;
  min-height: 219px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  margin: 10px 120px 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 209px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-video-3 {
  height: 159px;
  margin: 0 60px 0 auto;
}

.u-section-3 .u-layout-cell-7 {
  background-image: none;
  min-height: 219px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 209px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-video-4 {
  height: 159px;
  margin: 0 120px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 169px;
  }

  .u-section-3 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 169px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 7px;
  }

  .u-section-3 .u-layout-cell-3 {
    background-position: 50% 50%;
    min-height: 169px;
  }

  .u-section-3 .u-video-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 169px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 7px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 181px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 67px;
  }

  .u-section-3 .u-layout-cell-6 {
    background-position: 50% 50%;
    min-height: 172px;
  }

  .u-section-3 .u-video-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 181px;
  }

  .u-section-3 .u-layout-cell-8 {
    background-position: 50% 50%;
    min-height: 172px;
  }

  .u-section-3 .u-video-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1638px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 259px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 259px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 263px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 263px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2530px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 389px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 389px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 395px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 395px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1762px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 245px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 249px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 249px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 776px;
}

.u-section-4 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 212px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-video-1 {
  height: 152px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 212px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-video-2 {
  height: 152px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 212px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-video-3 {
  height: 152px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 143px;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 0.875rem;
  margin: 16px 60px 0 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 143px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 0.875rem;
  margin: 16px 60px 0 0;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 143px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  margin: 0;
}

.u-section-4 .u-text-7 {
  font-size: 0.875rem;
  margin: 16px 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  margin: 45px auto 0 60px;
}

.u-section-4 .u-custom-html-1 {
  min-height: 189px;
  height: auto;
  margin: 30px 589px 20px 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 826px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 146px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 175px;
  }

  .u-section-4 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 175px;
  }

  .u-section-4 .u-video-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 175px;
  }

  .u-section-4 .u-video-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 118px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 118px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 118px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 49px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 570px;
    margin-left: 49px;
    margin-right: 400px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 134px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 134px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 134px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 38px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-left: 38px;
    margin-right: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1465px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 772px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 302px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 302px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 302px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 29px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 540px;
    margin-left: 29px;
    margin-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1144px;
  }

  .u-section-4 .u-layout-wrap-1 {
    min-height: 354px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 190px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 190px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
    margin-left: 18px;
  }

  .u-section-4 .u-custom-html-1 {
    width: 340px;
    margin-left: 18px;
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 449px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 33px 0 50px;
}

.u-section-5 .u-image-1 {
  min-height: 376px;
  background-image: url("images/diplo.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 20px;
}

.u-section-5 .u-image-2 {
  min-height: 376px;
  background-image: url("images/mao.png");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 376px;
}

.u-section-5 .u-container-layout-3 {
  padding: 20px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 88px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 250px;
  }

  .u-section-5 .u-image-2 {
    min-height: 250px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 753px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -92px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 244px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-image-2 {
    min-height: 244px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 244px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1537px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -423px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 273px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    min-height: 273px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 273px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -521px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 310px;
  }

  .u-section-5 .u-image-2 {
    min-height: 310px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 310px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-6 {
  background-image: linear-gradient(#4c7397, black);
}

.u-section-6 .u-sheet-1 {
  min-height: 440px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 400px;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 330px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1052px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 506px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 506px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2317px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 759px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 759px;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 478px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 478px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 478px;
  }
}