.u-section-1 {
  background-image: linear-gradient(#425465, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 954px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  margin: 85px 20px 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  text-decoration: underline !important;
  margin: 54px auto 0;
  padding: 9px 47px 9px 46px;
}

.u-section-1 .u-text-2 {
  width: 484px;
  margin: 7px auto 0;
}

.u-section-1 .u-btn-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  width: 484px;
  margin: 54px auto 60px;
}

.u-section-1 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 71px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 66px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 12px;
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-btn-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 9px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
    margin-top: 19px;
  }
}